* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    height: 100vh;
    width: 100%;
    display: flex;
    background: #384657;
    align-items: center;
    display: flex;
    justify-content: center;
    /* border: 2px solid #1f2022; */
    ;
}

.number {
    height: 10px;
    width: 100px;
    align-items: center;
    display: flex;
    position: relative;
}

.number p{
    display: flex;
    position: absolute;
    left: 61px;
    top: -35px;
    color: azure;
    background: rgba(19, 16, 194, 0.509);
    border-radius: 15px;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;


}


.container {
    background: rgb(100, 90, 90);
    border: 2px solid #758ca8;
    border-radius: 30px;
    padding: 29px;
    align-items: center;
    justify-content: center;

}

.main .number .container i{
    color: rgb(39, 35, 35);
    font-size: 22px;

}

.main .number .container .fa-regular.fa-heart{
    color: rgb(177, 165, 165);
    border: none;
    

}

/* .container .demo{
    background: #fff;
    border: none;
} */